.custom-col {
  display: flex;
  justify-content: space-between;
}

.image-placement {
  width: 600px;
  height: 400px;
  margin-right: 160px;
}

.input-fields {
  border: none;
  border-bottom: #a7a1ff 1.5px solid;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  outline: none;
  width: 200px;
}
