.custom-col {
  display: flex;
  justify-content: space-between;
}

.image-placement {
  width: 600px;
  height: 400px;
  margin-right: 160px;
}

.input-fields {
  border: #a7a1ff 0.5px solid;
  border-radius: 3px;
  outline: none;
  width: 300px;
}

.ant-form-item-explain {
  font-size: 8pt;
}
