/* GENERAL */
.ant-table-thead > tr > th {
  text-align: center;
}
.ant-table-cell {
  text-align: center;
}
.container {
  margin-top: 30px;
}
.logout {
  filter: brightness(0) invert(1);
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* BOOK MANAGERS */
.button-wrapper-table {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.add-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: auto;
}
.field {
  margin: 0px;
}
.select-field {
  display: flex;
}
.button-table {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
  width: 75px;
}
.delete-header {
  font-weight: bold;
}

/* SYSTEM LOGS */
