/* GENERAL */
.ant-table-thead > tr > th {
  text-align: center;
}
.ant-table-cell {
  text-align: center;
}
.ant-modal-header {
  padding: 25px;
}
.ant-modal-footer {
  padding: 20px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px;
}
.ant-btn {
  border-radius: 5px;
}

/* PAGE */
.admin-container {
  margin: auto;
  max-width: 100%;
  padding: 0px;
}
.inner-container {
  padding: 0px;
  margin: 0px 40px;
}
.content-container {
  padding: 0px 60px;
}
.logout {
  filter: brightness(0) invert(1);
}

/* BOOK MANAGERS */
.header-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.add-button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: auto;
}
.field {
  margin: 0px;
  border-radius: 5px;
}
.select-field {
  display: flex;
}
.delete-header {
  font-weight: bold;
}
.user-info {
  margin-bottom: 20px;
}
.description-item {
  padding: 10px !important;
}

/* SYSTEM LOGS */
